body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: #423E3C;
}

header {
  border-bottom: 1px solid #E9E5E4;
  height: 120px;
}

header.site-header img {
  height: 80px;
}

a.site-name-link {
  color: #D73F09;
  text-decoration: none;
  font-size: 1.6rem;
}

h1 {
  color: #D73F09;
  text-transform: uppercase;
}

main {
  background-color: #E5E5E5;
}

.region-highlighted {
  background-color: #E5E5E5;
}
