html {
  display: flex;
  justify-content: center;
}
body{
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  flex: 0 1 1400px;
  justify-content: center;
}
header {
  border: 1px solid #E9E5E4;
}
nav ul.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: space-around;
}

nav ul.menu li.menu-item {
  list-style: none;
  margin: 0 1rem;
}

h1 {
  color: #D73F09;
}
