@font-face {
  font-family: 'Stratum2WebBold';
  src: url("../fonts/Stratum2WebBold.woff2") format("woff2"), url("../fonts/Stratum2WebBold.woff") format("woff");
}

* {
  box-sizing: border-box;
}

:root {
  --beaver-orange: #d73f09;
  --paddletail-black: #000;
  --bucktooth-white: #fff;
  --font-color: #423E3C;
}

body {
  color: var(--font-color);
  background-color: var(--bucktooth-white);
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  border-bottom: 1px solid #E9E5E4;
  height: 120px;
}

header.site-header img {
  height: 80px;
}

a.site-name-link {
  color: var(--beaver-orange);
  text-decoration: none;
  font-size: 1.6rem;
}

main,
.region-help,
.region-breadcrumb,
.region-highlighted {
  background-color: #E5E5E5;
}

.breadcrumb ol {
  background-color: var(--beaver-orange);
}

.breadcrumb a {
  color: var(--bucktooth-white);
}
