.site-header {
  display: flex;
  justify-content: center;
}

.region-header {
  flex: 0 1 1400px;
}

.region-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#block-madrone-branding {
  display: flex;
}

.site-name-link {
  align-items: center;
  padding: 0 1rem;
}

.site-slogan {
  align-self: flex-end;
}

.main-content {
  display: flex;
  justify-content: center;
}

.content-wrapper {
  flex: 0 1 1400px;
}

.layout-content {
  width: 100%;
}

.layout-sidebar-first {
}

.region-primary-menu {
  display: flex;
  justify-content: center;
}

.region-primary-menu > .region-primary-menu-wrapper {
  flex: 0 1 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.region-primary-menu > .region-primary-menu-wrapper #block-sitebranding {
  display: flex;
  align-items: center;
}

.region-primary-menu nav ul.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-content: space-around;
  gap: 2rem;
}

.region-primary-menu nav ul.menu li.menu-item {
  list-style: none;
}

.region-primary-menu nav ul.menu li.menu-item a {
  text-decoration: none;
  color: #7B746F;
}

.region-primary-menu nav ul.menu li.menu-item a.is-active {
  font-weight: bolder;
}

.region-highlighted {
  display: flex;
  justify-content: center;
}

.region-highlighted-wrapper {
  flex: 0 1 1400px;
  display: flex;
  flex-direction: column;
}

.region-breadcrumb {
  display: flex;
  justify-content: center;
}

.region-breadcrumb-wrapper {
  flex: 0 1 1400px;
}

.primary-tabs {
  display: flex;
}

li.local-task-item {
  list-style: none;
}

li.local-task-item > a {
  padding: 0 1rem;
  text-decoration: none;
  color: #7B746F;
}

li.local-task-item > a:hover {
  background-color: #005875;
  color: #fff
}

li.local-task-item > a.is-active {
  border-bottom: 1px solid #000;
}

.layout-sidebar-first {
  flex: 0 0 16rem;
}

.region-footer {
  display: flex;
  justify-content: center;
}

.region-footer-wrapper {
  flex: 0 1 1400px;
  display: inline-block;
}

.breadcrumb > ol {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  padding: 0.5rem 0;
}

.breadcrumb > ol > li {
  margin: 0 0.5rem;
}

.breadcrumb > ol > li:nth-child(n+2)::before {
  display: inline-block;
  position: relative;
  content: '\203A';
  color: white;
  right: 0.9rem;
  font-size: 2rem;
  line-height: 0.4rem;
  top: 0.22rem;
}

.breadcrumb > ol > li > a {
  text-decoration: none;
}
