{#
/**
 * @file
 * Theme overrides for search form submit button.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
#}
{% set class = [
  'tw-text-2xl',
  'tw-ring-4',
  'tw-py-1',
  'tw-px-3',
  'tw-m-2',
] %}
{% if attributes.hasClass('button--primary') %}
  {% set class = class|merge([
    'tw-ring-osuorange',
    'tw-text-osuorange'
  ]) %}
{% else %}
  {% set class = class|merge([
    'tw-ring-rogue_wave-300',
    'tw-text-rogue_wave-700'
  ]) %}
{% endif %}
<button{{ attributes.addClass(class) }}>
  <span>{{ attributes.value }}</span>
</button>
{{ children }}
