{#
/**
 * @file
 * Theme overrides for search form submit button.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
#}
<button{{ attributes.addClass('tw-text-2xl', 'tw-text-neutral-400') }}>
    <i class="fa fa-search" aria-hidden="true"></i>
    <span class="visually-hidden">{{ attributes.value }}</span>
</button>
{{ children }}
