{#
/**
 * @file views-bootstrap-cards.html.twig
 * Default simple view template to display Bootstrap Cards.
 *
 *
 * - rows: Contains a nested array of rows. Each row contains an array of
 *   columns.
 *
 * @ingroup views_templates
 */
#}

<div class="views-view-bootstrap-card card-group">
  {% for row in rows -%}
    <div class="card">
      {# Show image #}
      {% if row.image %}
        {{ row.image }}
      {% endif %}
      {% if row.content %}
        <div class="card-body">
          {% if row.title %}
            <h5 class="card-title">{{ row.title }}</h5>
          {% endif %}

          {{ row.content }}
        </div>
      {% endif %}
    </div>
  {%- endfor %}
</div>
