@import "../abstracts/osu_variables";

.views-view-bootstrap-tab {
  .nav-tabs {
    border-color: $osuorange-hsl;
    flex-wrap: nowrap;
    -ms-overflow-style: none; // IE and Edge
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; //Chrome
    }

    @media (min-width: 992px) {
      justify-content: center;
      // margin-inline: 2rem; need to test
      overflow: visible;
    }

    @media (min-width: 1400px) {
      // margin-inline: 4rem; need to test
    }
  }

  .nav-item {
    margin-inline-end: 0.25rem;
    scroll-snap-align: end;
    width: max-content;
  }

  .nav-link {
    background-color: $neutral-100;
    border: 2px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: $neutral-700;
    margin-bottom: 0 !important;
    width: max-content;

    &:hover {
      border-bottom-color: transparent;

      @media (min-width:992px) {
        border-inline: 2px solid $osuorange;
        border-top: 2px solid $osuorange;
      }
    }

    &.active {
      background-color: $neutral-100;
      border-bottom: 2px solid $osuorange-hsl;

      @media (min-width:992px) {
        border-bottom: 4px solid transparent;
        border-top: 2px solid $osuorange;
        border-inline: 2px solid $osuorange;
        margin-bottom: -2.5px !important;
      }

    }

    &:focus-visible {
      box-shadow: none;
      outline: 2px solid $paddletailblack-hsl;
    }
  }
}