@import "../abstracts/osu_variables";

.toc-js {
  .toc-h3 {
    margin-left: 0.5rem;
  }

  .toc-h4 {
    margin-left: 0.50rem;
  }

  .toc-h5 {
    margin-left: 0.5rem;
  }

  .toc-h6 {
    margin-left: 0.5rem;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      &::marker {
        content: '' !important;
      }
    }
  }

  a {
    padding-block: 0.4rem;
    padding-inline: 1rem;
  }

  li {
    padding-block: 0.4rem;
    padding-inline: 1rem;

    &.toc-active>a {
      background-color: $osuorange-oklch;
      color: $bucktoothwhite-oklch;
    }
  }
}
