@import "../abstracts/osu_variables";

.views-view-bootstrap-tab {
  .nav-tabs {
    border-color: $osuorange-hsl;
    border-width: 0;
    flex-wrap: nowrap;
    -ms-overflow-style: none; // IE and Edge
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; //Chrome
    }

    @media (min-width: 992px) {
      border-width: 2px;
      justify-content: center;
      margin-inline: 2rem;
      overflow: visible;
    }

    @media (min-width: 1400px) {
      margin-inline: 4rem;
    }
  }

  .nav-item {
    margin-inline-end: 0.25rem;
    scroll-snap-align: end;
    width: max-content;
  }

  .nav-link {
    border: 2px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    transition: all 0.2s ease-out;
    width: max-content;

    &.active {
      border-bottom: 2px solid $osuorange-hsl;
      margin-bottom: 0;
      @media screen and (min-width: 990px) {
        border-block-start: 2px solid $osuorange;
        border-bottom: 0;
        border-inline: 2px solid $osuorange;
        margin-bottom: -2px;
      }
    }

    &:hover {
      background-color: $osuorange-hsl;
      color: $bucktoothwhite-hsl;
    }

    &:focus-visible {
      box-shadow: none;
      outline: 2px solid $paddletailblack-hsl;
    }
  }
}
