.block--type-osu-card.block--view-mode-full-image {
  .block-field-blockblock-contentosu-cardfield-osu-card-image img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    width: 100%;
  }
}
