@import "../../../node_modules/bootstrap/scss/variables";
@import "../abstracts/_osu_variables.scss";

// Set colors for warning
body div.tabledrag-changed-warning {
  background-color: $warning;
  margin-bottom: ($spacer * 0.5);
  padding: ($spacer * .5) ($spacer * 1);
}

// Fix tabletrag handles not rendering properly.
a.tabledrag-handle .handle {
  box-sizing: content-box;
}
