@import "../abstracts/osu_variables";

.carousel {
  .carousel-control-prev,
  .carousel-control-next {
    width: 4rem;
  }

  .carousel-caption {
    background-color: hsl(0 11.11% 96.47% / 90%);
    bottom: 2.45rem;
    color: $body-color;
    padding-inline: 2rem;
  }

  .carousel-indicators {
    background-color: $osuorange-hsl;
    list-style-type: none;
  }

  & ~ .more-link {
    margin-top: 2rem;
    text-align: center;
  }
}
