/* Styles for the Related Stories View Block */
.block-views-blockosu-stories-related-stories-block {
  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

.related-stories {
  .story-card {
    & > div {
      border-radius: 10px;

      .story-card__link::before {
        content: '';
        inset: 0;
        position: absolute;
      }
    }

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }
  }

  .more-link {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}
