
.media-library-widget-modal {
  --osu-border-radius: .625em;
  max-width: 90vw;

  .media-library-wrapper {
    display: flex;

  }

  button.ui-dialog-titlebar-close:after {
    content: "\00d7";
    position: relative;
    top: -0.55rem;
  }

  .views-exposed-form .form-wrapper {
    align-self: end;
  }

  .media-library-views-form__rows {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    .media-library-item--grid {
      background-color: var(--bs-body-bg);
      border-radius: var(--osu-border-radius);
      flex: 1 0 20%;
      margin: .5rem 1rem;
      max-width: 50%;
      position: relative;

      &:before {
        border: 1px solid var(--bs-secondary);
        border-radius: .5em;
        content: '';
        height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        transition: border-color 0.2s, color 0.2s, background 0.2s;
        width: 100%;
      }

      &.is-hover:before,
      &.is-focus:before {
        border-color: var(--bs-gray-dark);
      }

      &.media-library-item--disabled {
        opacity: .5;
        pointer-events: none;
        --bs-secondary: var(--bs-gray-600);
      }

      .media-library-item__click-to-select-trigger {
        cursor: pointer;
      }

      .media-library-item__click-to-select-checkbox {
        left: 0.75rem;
        position: absolute;
        top: .25rem;
      }

      .media-library-item__preview-wrapper {
        .field--name-thumbnail {
          align-items: center;
          display: flex;
          justify-content: center;

          .image-style-medium {
            height: 11.25rem;
            object-fit: contain;
            object-position: center center;
          }
        }

        .media-library-item__attributes {
          background-color: var(--bs-gray-dark);
          border-bottom-left-radius: var(--osu-border-radius);
          border-bottom-right-radius: var(--osu-border-radius);
          color: var(--bs-secondary);
          padding: .5rem 1.5rem;

          .media-library-item__name {
            font-size: 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-wrap: nowrap;
          }
        }
      }
    }
  }

  .media-library-item--table {
    vertical-align: middle;

    &.media-library-item--disabled {
      pointer-events: none;
      --bs-table-color-state: var(--bs-secondary-color);

      a {
        color: var(--bs-secondary-color);
        text-decoration-color: var(--bs-secondary-color)
      }
    }

    td {
      padding: .625rem 1rem;
    }

    img {
      max-width: 6.25rem;
    }
  }
}
