// Use only on thead for an orange table.
@include table-variant('osuorange', $osuorange);
.osu-table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-striped;

  & > thead {
    @extend .table-dark;

    a {
      color: $bucktoothwhite;
      text-decoration-color: $bucktoothwhite;
    }
  }
}

.osu-table-orange {
  @extend .table;
  @extend .table-bordered;
  @extend .table-hover;
  @extend .table-striped;

  & > thead {
    @extend .table-osuorange;

    a {
      color: $bucktoothwhite;
      text-decoration-color: $bucktoothwhite;
    }
  }
}

.madrone-content table:not(.osu-table):not(.osu-table-orange) {
  @extend .osu-table;
}
