@import '../../../node_modules/bootstrap/scss/variables';
@import '../abstracts/osu_variables';
@import '../abstracts/osu_mixins';
// Create osu-min-h-xx classes for min-height
@each $height-name, $height-val in $min-heights {
  .osu-min-h-#{$height-name} {
    min-height: $height-val;
  }
  @each $breakpoint, $width in $grid-breakpoints {
    @if $width != 0 {
      @media (min-width: $width) {
        .osu-min-h-#{$breakpoint}-#{$height-name} {
          min-height: $height-val;
        }
      }
    }
  }
}

// For Bootstrap Layout Builder we need a border-side-color for each color and side we wish to use
@each $border-color-name, $border-color-value in $osu-border-colors {
  .osu-border-#{$border-color-name} {
    border-color: #{$border-color-value} !important;
  }
  @each $border-side in $border-sides {
    .osu-border-#{$border-color-name}-#{$border-side} {
      border-#{$border-side}-color: #{$border-color-value} !important;
    }
  }
}

.osu-opacity-90 {
  background-color: rgb(255 255 255 / 0.95);
}

// Display flex
.osu-d-flex {
  @extend .d-flex;
}

.osu-d-table-caption {
  display: table-caption;
}

.osu-caption-top {
  caption-side: top;
}

.osu-caption-bottom {
  caption-side: bottom;
}

// Wrapper classes for flex alignment
.osu-align-items-start {
  @extend .align-items-start;
}

.osu-align-items-center {
  @extend .align-items-center;
}

.osu-align-items-end {
  @extend .align-items-end;
}

.osu-align-items-baseline {
  @extend .align-items-baseline;
}

.osu-align-items-stretch {
  @extend .align-items-stretch;
}

.osu-align-self-start {
  @extend .align-self-start;
}

.osu-align-self-center {
  @extend .align-self-center;
}

.osu-align-self-end {
  @extend .align-self-end;
}

.osu-justify-content-start {
  @extend .justify-content-start;
}

.osu-justify-content-center {
  @extend .justify-content-center;
}

.osu-justify-content-between {
  @extend .justify-content-between;
}

.osu-justify-content-end {
  @extend .justify-content-end;
}

// Enhancements for Navigation Blocks
.osu-nav-column ul.nav-pills {
  @extend .flex-column;
}

.osu-nav-fill ul.nav-pills {
  @extend .nav-fill;
}

.osu-nav-justified ul.nav-pills {
  @extend .nav-justified;
}

.osu-nav-centered ul.nav-pills {
  @extend .justify-content-center;
}

.osu-nav-end ul.nav-pills {
  @extend .justify-content-end;
}

// Shh, tis a secret
.osu-hover-pop {
  transition: all 250ms ease;

  &:hover {
    box-shadow: 0 2px 9px rgb(0 0 0 / 25%) !important;
  }
}

.osu-text-decoration {
  text-decoration-color: $osuorange-hsl !important;
}

.osu-text-decoration-bucktoothwhite {
  text-decoration-color: $bucktoothwhite-hsl !important;
}

.osu-link {
  text-decoration-color: $osuorange-hsl;
  text-decoration-thickness: 13%;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    background-color: $paddletailblack-hsl;
    color: $bucktoothwhite-hsl;
  }
}

.osu-link-white {
  color: $bucktoothwhite-hsl !important;
  text-decoration-color: $bucktoothwhite-hsl !important;

  &:hover {
    text-decoration: none !important;
  }

  &:active {
    background-color: $bucktoothwhite-hsl !important;
    color: $paddletailblack-hsl !important;
  }
}

.osu-link-orange {
  color: $osuorange-hsl;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration-color: $osuorange-hsl !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 13% !important;
  }
}

.osu-img-full img {
  width: 100%;
}

.osu-img-rounded-top img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.osu-img-rounded-bottom img {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.osu-img-rounded-pill img {
  border-radius: $border-radius-pill;
}

.osu-bg-overlay-dark,
.osu-bg-before-dark {
  --osu-bg-overaly-from-color: #{$osu-bg-gradient};
  --osu-bg-overaly-to-color: #{$osu-bg-gradient};
  --osu-bg-overlay-deg: 0deg;
  position: relative;


  &:before {
    background: linear-gradient(var(--osu-bg-overlay-deg), var(--osu-bg-overaly-from-color), var(--osu-bg-overaly-to-color));
    content: '';
    inset: 0;
    position: absolute;
    z-index: 0;
  }

  h2,
  div.block-layout-builder[class*='block-inline-'],
  div.layout-builder__add-block,
  div.block-block-content,
  > div.block__content {
    position: relative;
    z-index: 1;
  }
}

@include osu-bg-before-dark-to("left", 90deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("right", 270deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("top", 180deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("bottom", 0deg, $osu-bg-gradient);

.white-text-orange-bg {
  background-color: $osuorange-hsl;
  color: $bucktoothwhite-hsl;
}

.osu-nav-link-hover--dark {
  --bs-nav-link-hover-color: #{$paddletailblack-hsl};
}

.osu-nav-link-hover--light {
  --bs-nav-link-hover-color: #{$bucktoothwhite-hsl};
}
