@import '../../../node_modules/bootstrap/scss/variables';
@import '../abstracts/osu_variables';
@import '../abstracts/osu_mixins';

// For extra bootstrap utilities.
$line-truncate: 1, 2, 3, 4, 5;

@each $line in $line-truncate {
  .line-truncate-#{$line} {
    display: -webkit-box;
    line-clamp: $line;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
  }
}

// For Bootstrap Layout Builder we need a border-side-color for each color and side we wish to use
@each $border-color-name, $border-color-value in $osu-border-colors {
  .osu-border-#{$border-color-name} {
    border-color: #{$border-color-value} !important;
  }

  @each $border-side in $border-sides {
    .osu-border-#{$border-color-name}-#{$border-side} {
      border-#{$border-side}-color: #{$border-color-value} !important;
    }
  }
}

.osu-opacity-90 {
  background-color: rgb(255 255 255 / 0.95);
}

// Shh, tis a secret
.osu-hover-pop {
  transition: all 250ms ease;

  &:hover {
    box-shadow: 0 2px 9px rgb(0 0 0 / 25%) !important;
  }
}

.osu-text-decoration {
  text-decoration-color: $osuorange-oklch !important;
}

.osu-text-decoration-bucktoothwhite {
  text-decoration-color: $bucktoothwhite-oklch !important;
}

.osu-link {
  text-decoration-color: $osuorange-oklch;
  text-decoration-thickness: 13%;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:active {
    background-color: $paddletailblack-oklch;
    color: $bucktoothwhite-oklch;
  }
}

.osu-link-white {
  color: $bucktoothwhite-oklch !important;
  text-decoration-color: $bucktoothwhite-oklch !important;

  &:hover {
    text-decoration: none !important;
  }

  &:active {
    background-color: $bucktoothwhite-oklch !important;
    color: $paddletailblack-oklch !important;
  }
}

.osu-link-orange {
  color: $osuorange-oklch;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration-color: $osuorange-oklch !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 13% !important;
  }
}

.osu-img-full img {
  width: 100%;
}

.osu-img-rounded-top img {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.osu-img-rounded-bottom img {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.osu-img-rounded-pill img {
  border-radius: $border-radius-pill;
}

// Overlay's in a psudo element.
.osu-bg-overlay-dark,
.osu-bg-before-dark {
  --osu-bg-overaly-from-color: #{$osu-bg-gradient};
  --osu-bg-overaly-to-color: #{$osu-bg-gradient};
  --osu-bg-overlay-deg: 0deg;
  position: relative;
  isolation: isolate;


  &:before {
    background: linear-gradient(var(--osu-bg-overlay-deg), var(--osu-bg-overaly-from-color), var(--osu-bg-overaly-to-color));
    content: '';
    inset: 0;
    position: absolute;
    z-index: -1;
  }

  div.block-layout-builder[class*='block-inline-'],
  div.layout-builder__add-block,
  div.block-block-content,
  >div.block__content {
    position: relative;
    z-index: 1;
  }
}

@include osu-bg-before-dark-to("left", 90deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("right", 270deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("top", 180deg, $osu-bg-gradient);
@include osu-bg-before-dark-to("bottom", 0deg, $osu-bg-gradient);

// Custop properties require interporated sass variables.
@each $level, $color in $gradients {
  .osu-bg-before-dark-#{$level} {
    --osu-bg-overaly-from-color: #{$color};
    --osu-bg-overaly-to-color: #{$color};
  }
}

.white-text-orange-bg {
  background-color: $osuorange-oklch;
  color: $bucktoothwhite-oklch;
}

.osu-nav-link-hover--dark {
  --bs-nav-link-hover-color: #{$paddletailblack-oklch};
}

.osu-nav-link-hover--light {
  --bs-nav-link-hover-color: #{$bucktoothwhite-oklch};
}

// Create corner clip cut classes.
@each $name, $value in $spacers {
  .osu-corner-clip-#{$name} {
    --cut: #{$value};
  }
}

// Corner clip classes, not really easy to create a @each.
.osu-corner-clip-top-left {
  position: relative;
  clip-path: polygon(0% var(--cut), var(--cut) 0%, 100% 0%, 100% 100%, 0% 100%);
}

.osu-corner-clip-top-right {
  position: relative;
  clip-path: polygon(0% 0%, calc(100% - var(--cut)) 0%, 100% var(--cut), 100% 100%, 0% 100%);
}

.osu-corner-clip-bottom-left {
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, var(--cut) 100%, 0% calc(100% - var(--cut)));
}

.osu-corner-clip-bottom-right {
  position: relative;
  clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - var(--cut)), calc(100% - var(--cut)) 100%, 0% 100%);
}

@media (min-width: 992px) {
	.overlay-column-end {
		--cut: 2.5rem;
		border-top: 2px solid #d73f09;
		margin-top: calc(var(--cut)*-1);
		z-index: 1;
		clip-path: polygon(calc(var(--cut) - 1px) 0, 100% 0, 100% 100%, 0 100%, 0 calc(var(--cut)));
		position: relative;

		&:before {
			--cut-shifted: calc(var(--cut) - 4px);
			content: '';
			position: absolute;
			height: var(--cut);
			width: var(--cut);
			clip-path: polygon(var(--cut-shifted) 0%, 100% 0, 100% 0px, 1px 100%, 0% 100%, 0% var(--cut-shifted));
			background: #d73f09;
	}
}
}

.osu-hover-scale-img img,
.osu-hover-scale-icon .fa-solid,
.osu-hover-scale-icon, .fas {
	transition: transform 0.2s ease-in-out;
}

.osu-hover-scale-img:hover img,
.osu-hover-scale-icon:hover .fa-solid,
.osu-hover-scale-icon:hover .fas {
	transform: scale(1.05);
}

.osu-minimal-link,
.osu-minimal-link > a {
	text-decoration: none;

	&:active {
		background-color: transparent !important;
		text-decoration: underline;
}
}

.osu-bg-before-dark-ellipse::before {
	content: '';
	position: absolute;
	inset: 0;
	background: radial-gradient(ellipse at top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 60%, rgba(0, 0, 0, 0.85) 100%);
}