@import '../abstracts/osu_variables';

.madrone_header--dark {
    .madrone-header {
        background-color: #0d0d0d; //new color

        a:focus-visible {
            outline-color: $neutral-100;
        }
    }

    .site-name__site-link,
    .site-name__site-link h1,
    .site-name__site-link--with-group {
        color: $neutral-200 !important;
        font-weight: 400 !important;

        &:active {
            background-color: $bucktoothwhite !important;
            color: $neutral-700 !important;
        }
    }

    //GROUP HEADER STYLES
    .site-name__group-link h1 {
        font-weight: 400;
    }

    // HEADER BORDER STYLES
    .osu-logo--spacer,
    .madrone-header,
    .search-block-form>div.border-start {
        border-color: #4f4c4b !important; //new color
    }

    // SEARCH BAR STYLES
    .madrone-header .search-block-form {
        input.form-control {
            background-color: inherit !important;
            color: $neutral-100;
        }

        .form-control::placeholder {
            color: $neutral-400;
        }

        .fa-search {
            color: $neutral-100 !important;
        }
    }

    //GLOBAL CTAS
    @media (min-width:992px) {
        .global-cta-wrapper .cta-buttons a {
            background-color: $neutral-100;
            border-color: transparent;
            border-block-end: 1.5px solid $osuorange;
            border-inline-end: 1.5px solid $osuorange;
            color: $neutral-900;
        }
    }

    //MENU
    .madrone-primary-menu>.block-superfish {
        background-color: $neutral-900;

        ul.sf-menu {
            li {
                &.sf-depth-1 {

                    >a,
                    >span {
                        color: $neutral-200;
                        height: 100%;

                        &:hover,
                        &:focus-within {
                            color: $neutral-700
                        }

                        &:active {
                            background-color: $neutral-900 !important;
                            color: $neutral-200;
                        }

                        :focus-within {
                            outline: $osuorange;
                        }
                    }

                    // Chevron colors
                    &.menuparent:not(.sf-no-children)>a::after {
                        color: $neutral-200;
                    }

                    // hover state for top level links
                    &.sfHover>a,
                    &.menuparent:hover>a {
                        color: $neutral-700;

                        &::after {
                            color: $neutral-700;
                        }
                    }

                    &.sfHover.menuparent:not(.sf-no-children)>a::after,
                    >a:hover::after {
                        color: inherit !important;
                    }
                }

                //lower levels styling
                ul li:not(.sf-depth-1) {

                    a {
                        // I don't know how I should scope this. this negatively impacts the mobile stying. the mobile styling is opposite. so it starts with a dark background, so the active state needs to be the opposite. The desktop flyout menus start as white.
                        &:active {
                            background-color: $neutral-900 !important;
                            color: $neutral-200;

                            &::after {
                                color: $neutral-200 !important;
                            }
                        }
                    }
                }

            }
        }

        // color for the title of the menu on mobile. the title isn't always there, but something that should be styled
        .sf-accordion-toggle>a {
            color: $neutral-200;

            &:active {
                color: $neutral-900 !important;
                background-color: $neutral-100 !important;
            }
        }

        // mobile styling
        .sf-menu.sf-accordion {
            a.sf-depth-1 {
                // I may need to do this differently? not sure.
                &:active {
                    background-color: $neutral-900 !important;
                    color: $neutral-100 !important;
                }
            }

            ul li {
                // chevrons lower levels for just mobile. it goes from dark to light.
                >a.menuparent::after,
                >span.menuparent::after {
                    color: $neutral-200;
                }
            }
// this styles any link that is nested. the original scss sheet uses a different select of not:sf-depth-1. not sure if I should actually mirror that.
            .sf-has-clone-parent a {
                color: $neutral-200;
            }
        }
    }
}