@import '../abstracts/osu_variables';

.madrone_header--dark {
    .madrone-header {
        background-color: #0d0d0d; //new color

        a:focus-visible {
            outline-color: $neutral-100;
        }
    }

    .site-name__site-link,
    .site-name__site-link h1,
    .site-name__site-link--with-group {
        color: $neutral-200 !important;
        font-weight: 400 !important;

        &:active {
            background-color: $bucktoothwhite !important;
            color: $neutral-700 !important;
        }
    }

    //GROUP HEADER STYLES
    .site-name__group-link h1 {
        font-weight: 400;
    }

    // HEADER BORDER STYLES
    .osu-logo--spacer,
    .madrone-header,
    .search-block-form>div.border-start {
        border-color: #4f4c4b !important; //new color
    }

    // SEARCH BAR STYLES
    .madrone-header .search-block-form {
        input.form-control {
            background-color: inherit !important;
            color: $neutral-100;
        }

        .form-control::placeholder {
            color: $neutral-400;
        }

        .fa-search {
            color: $neutral-100 !important;
        }
    }

    //GLOBAL CTAS
    @media (min-width:992px) {
        .global-cta-wrapper .cta-buttons a {
            background-color: $neutral-100;
            border-color: transparent;
            border-block-end: 1.5px solid #d73f09;
            border-inline-end: 1.5px solid #d73f09;
            color: $neutral-900;
        }
    }

    .madrone-primary-menu>.block-superfish {
        background-color: #1f1d1c;

        li.sf-depth-1>a,
        li.sf-depth-1>span {
            color: #e9e5e4;
            height: 100%;

            &:active {
                background-color: #1f1d1c !important;
            }

            :focus-within {
                outline: #d73f09;
            }
        }

        li.sf-depth-1.sfHover>a {
            color: #423e3c;

        }

        ul.sf-menu li.sf-depth-1.menuparent:not(.sf-no-children)>a::after {
            color: #e9e5e4;
        }

        ul.sf-menu li.sf-depth-1.sfHover.menuparent:not(.sf-no-children)>a::after,
        ul.sf-menu li.sf-depth-1>a:hover::after {
            color: inherit !important;
        }

        /*.block-superfish ul.sf-menu li.sf-depth-1.menuparent:hover > a {*/
        /*	color: magenta;*/
        /*}*/

        /*li.sfHover a{*/
        /*	background-color: blue;*/
        /*	color: purple;*/
        /*}*/

        /*li.sfHover {*/
        /*	background-color: green;*/
        /*	color: yellow;*/

        /* color for the title of the menu on mobile. the title isn't always there, but something that should be styled*/
        .sf-accordion-toggle>a {
            color: #e9e5e4;

            &:hover {
                color: #423e3c;
            }

            &:active {
                color: #1f1d1c !important;
                background-color: #f7f5f5 !important;
            }


        }

        .sf-menu.sf-accordion a.sf-depth-1 {
            color: #e9e6e4;

            &:hover {
                color: pink;
            }
        }
    }
}