@import '../abstracts/osu_variables';

h1 {
  color: $osuorange-hsl;
  font-family: 'Stratum2Web', serif;
  @include font-size(3rem);
  font-weight: 500;
}

h2 {
  font-family: 'Stratum2Web', serif;
  @include font-size(2.25rem);
  font-weight: 600;
}

h3 {
  color: $osuorange-hsl;
  font-family: 'Open Sans', sans-serif;
  @include font-size(1.75rem);
  font-weight: 500;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  @include font-size(1.625rem);
  font-weight: 600;
}

h5 {
  color: $osuorange-hsl;
  @include font-size(1.5rem);
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  @include font-size(1.25rem);
  font-weight: 600;
}

.display-1 {
  font-family: $font-family-stratum;
  line-height: 1;
}

.display-3 {
  font-family: $font-family-serif;
}

.display-5 {
  font-family: $font-family-serif;
}

blockquote {
  border: 5px solid $neutral-200;
  font-family: Georgia, 'DejaVu Serif', serif;
  font-size: 1.25rem;
  margin-block: 1.5rem;
  padding: 1.5em 1.25em;
  @media screen and (min-width: 992px) {
    padding: 2.5em 3.75em;
  }
}

code {
  background-color: #fff;
  padding: 0.5em 0.25em;
}

main .block-page-title-block {
  > .block__content {
    > h1 {
      margin-block: 1rem;
      margin-inline: auto;
      max-width: 62rem;
      overflow-wrap: anywhere;
      text-align: center;
      word-break: normal;
    }
  }
}

.block-system-main-block {
  ul:not(
      .nav,
      .navbar,
      .list-unstyled,
      .contextual-links,
      .vertical-tabs__menu,
      .pager__items
    )
  > li:not([style*='list-style: none']) {
    &::marker {
      color: $body-color;
      content: '\f054\2000';
      display: inline-block;
      font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free';
      font-weight: 900;
      letter-spacing: normal;
    }
  }

  // Force the unordered list marker to be white when using the light color text.
  .osu-text-bucktoothwhite {
    ul:not(
        .nav,
        .navbar,
        .list-unstyled,
        .contextual-links,
        .vertical-tabs__menu,
        .pager__items
      )
    > li {
      &::marker {
        color: $bucktoothwhite-hsl;
      }
    }
  }
}

em.placeholder {
  background-color: unset;
  cursor: unset;
  display: unset;
  min-height: unset;
  opacity: unset;
  vertical-align: unset;
}

p:last-child {
  margin-bottom: 0;
}

// Only force link color if the parent block has a dark bg set.
.osu-text-bucktoothwhite {
  h1, h3, h5 {
    color: $bucktoothwhite-hsl;
  }

  & > * {
    a:not(.layout-builder__link--add, .btn) {
      color: $bucktoothwhite-hsl;
      text-decoration-color: $bucktoothwhite-hsl;

      &:active {
        background-color: $bucktoothwhite-hsl;
        color: $paddletailblack-hsl;
      }
    }
  }
}
