@layer base {
  .mega-menu-parent, li.mega-menu-child > a, li.madrone-mega-menu-main-more > button, li.madrone-mega-menu-group-more > button {
    @apply tw-outline-none;

  }

  .mega-menu-parent:focus, li.mega-menu-child > a:focus, li.madrone-mega-menu-main-more > button:focus, li.madrone-mega-menu-group-more > button:focus {
    @apply tw-border-osuorange tw-border-solid tw-border-b-2;
  }
}
