.all-stories {
  .story-card {
    & > div {
      border-radius: 10px;

      .story-card__link::before {
        content: '';
        inset: 0;
        position: absolute;
      }
    }

    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 100%;
    }
  }
}
