// All OSU colors
$osuorange: #d73f09;
$osuorange-rgb: rgb(215 63 9);
$osuorange-hsl: hsl(15.7 92% 43.9%);
$osuorange-lab: lab(49.53 57.43 58.79);
$bucktoothwhite: #fff;
$bucktoothwhite-rgb: rgb(255 255 255);
$bucktoothwhite-hsl: hsl(0 0% 100%);
$bucktoothwhite-lab: lab(100 0 0);
$paddletailblack: #212529;
$paddletailblack-rgb: rgb(33 37 41);
$paddletailblack-hsl: hsl(210 10.8% 14.5%);
$paddletailblack-lab: lab(14.44 -0.72 -3.26);
$neutral-100: #f7f5f5;
$neutral-100-hsl: hsl(0 11.11% 96.47%);
$neutral-200: #e9e5e4;
$neutral-200-hsl: hsl(12 10.2% 90.39%);
$neutral-300: #d4cfcd;
$neutral-300-hsl: hsl(17.14 7.53% 81.76%);
$neutral-400: #b7b1af;
$neutral-400-hsl: hsl(15 5.26% 70.2%);
$neutral-500: #8f8582;
$neutral-500-hsl: hsl(13.85 5.49% 53.53%);
$neutral-550: #7b746f;
$neutral-550-hsl: hsl(25 5.13% 45.88%);
$neutral-600: #696361;
$neutral-600-hsl: hsl(15 3.96% 39.61%);
$neutral-700: #423e3c;
$neutral-700-hsl: hsl(20 4.76% 24.71%);
$neutral-800: #2e2b2a;
$neutral-800-hsl: hsl(15 4.55% 17.25%);
$neutral-900: #1f1d1c;
$neutral-900-hsl: hsl(20 5.08% 11.57%);
$lava-100: #ffdedf;
$lava-100-hsl: hsl(358.18 100% 93.53%);
$lava-200: #ee878a;
$lava-200-hsl: hsl(358.25 75.18% 73.14%);
$lava-300: #e54349;
$lava-300-hsl: hsl(357.78 75.7% 58.04%);
$lava-400: #c72127;
$lava-400-hsl: hsl(357.83 71.55% 45.49%);
$lava-500: #a7262b;
$lava-500-hsl: hsl(357.67 62.93% 40.2%);
$lava-600: #8c0e13;
$lava-600-hsl: hsl(357.62 81.82% 30.2%);
$lava-700: #590003;
$lava-700-hsl: hsl(357.98 100% 17.45%);
$luminance-100: #fff2d5;
$luminance-100-hsl: hsl(41.43, 100%, 91.76%);
$luminance-200: #fddb8b;
$luminance-200-hsl: hsl(42.11, 96.61%, 76.86%);
$luminance-300: #ffce57;
$luminance-300-hsl: hsl(42.5, 100%, 67.06%);
$luminance-400: #ffb500;
$luminance-400-hsl: hsl(42.59, 100%, 50%);
$luminance-500: #e59900;
$luminance-500-hsl: hsl(40.09, 100%, 44.9%);
$luminance-600: #d3832b;
$luminance-600-hsl: hsl(31.43, 66.14%, 49.8%);
$luminance-700: #915513;
$luminance-700-hsl: hsl(31.43, 76.83%, 32.16%);
$pine-100: #edf3e3;
$pine-100-hsl: hsl(82.5, 40%, 92.16%);
$pine-200: #c4d6a4;
$pine-200-hsl: hsl(81.6, 37.88%, 74.12%);
$pine-300: #73a663;
$pine-300-hsl: hsl(105.67, 27.35%, 51.96%);
$pine-400: #4a773c;
$pine-400-hsl: hsl(105.76, 32.96%, 35.1%);
$pine-500: #3c692e;
$pine-500-hsl: hsl(105.76, 39.07%, 29.61%);
$pine-600: #254a1a;
$pine-600-hsl: hsl(106.25, 48%, 19.61%);
$pine-700: #142e0c;
$pine-700-hsl: hsl(105.88, 58.62%, 11.37%);
$rogue_wave-100: #ecf5f6;
$rogue_wave-100-hsl: hsl(186, 35.71%, 94.51%);
$rogue_wave-200: #b8dde1;
$rogue_wave-200-hsl: hsl(185.85, 40.59%, 80.2%);
$rogue_wave-300: #20a6bd;
$rogue_wave-300-hsl: hsl(188.79, 71.04%, 43.33%);
$rogue_wave-400: #00859b;
$rogue_wave-400-hsl: hsl(188.52, 100%, 30.39%);
$rogue_wave-500: #007082;
$rogue_wave-500-hsl: hsl(188.31, 100%, 25.49%);
$rogue_wave-600: #0d5257;
$rogue_wave-600-hsl: hsl(184.05, 74%, 19.61%);
$rogue_wave-700: #043033;
$rogue_wave-700-hsl: hsl(183.83, 85.45%, 10.78%);
$stratosphere-100: #ecf1f4;
$stratosphere-100-hsl: hsl(202.5, 26.67%, 94.12%);
$stratosphere-200: #c6dae7;
$stratosphere-200-hsl: hsl(203.64, 40.74%, 84.12%);
$stratosphere-300: #2490b5;
$stratosphere-300-hsl: hsl(195.31, 66.82%, 42.55%);
$stratosphere-400: #006a8e;
$stratosphere-400-hsl: hsl(195.21, 100%, 27.84%);
$stratosphere-500: #005875;
$stratosphere-500-hsl: hsl(194.87, 100%, 22.94%);
$stratosphere-600: #003b5c;
$stratosphere-600-hsl: hsl(201.52, 100%, 18.04%);
$stratosphere-700: #002235;
$stratosphere-700-hsl: hsl(201.51, 100%, 10.39%);
$table-alt-row: #f9f9f9;

$moondust: $stratosphere-200;
$crater: #8e9089;
$lightGrey: #e0e0e0;

// Setting other variable names for common colors
$page-bg-default: $neutral-100;
$page-bg-alt-1: $bucktoothwhite;
$page-bg-alt-2: $paddletailblack;

// Map array for Alerts
$osu-alerts: (
  'success': $pine-400,
  'warning': $luminance-400,
  'danger': $lava-400,
);

// Map array for text color classes
$osu-colors-text: (
  'body': $neutral-700,
  'osuorange': $osuorange,
  'bucktoothwhite': $bucktoothwhite,
  'icon': $neutral-550,
);

// Map for Background Colors
$osu-bg-colors: (
  'page-default': $page-bg-default,
  'page-alt-1': $page-bg-alt-1,
  'page-alt-2': $page-bg-alt-2,
  'moondust': $moondust,
  'crater': $crater,
  'osuorange': $osuorange,
  'light-grey': $lightGrey,
);

// Map for border colors
$osu-border-colors: (
  'light-grey': $lightGrey,
  'crater': $crater,
  'osu': $osuorange,
  'moondust': $moondust,
  'dark': $paddletailblack,
  'white': $bucktoothwhite,
);

// Map for all colors
$osu-colors-all: (
  'osuorange': $osuorange,
  'paddletailblack': $paddletailblack,
  'bucktoothwhite': $bucktoothwhite,
  'neutral-100': $neutral-100,
  'neutral-200': $neutral-200,
  'neutral-300': $neutral-300,
  'neutral-400': $neutral-400,
  'neutral-500': $neutral-500,
  'neutral-550': $neutral-550,
  'neutral-600': $neutral-600,
  'neutral-700': $neutral-700,
  'neutral-800': $neutral-800,
  'neutral-900': $neutral-900,
  'lava-100': $lava-100,
  'lava-200': $lava-200,
  'lava-300': $lava-300,
  'lava-400': $lava-400,
  'lava-500': $lava-500,
  'lava-600': $lava-600,
  'lava-700': $lava-700,
  'luminance-100': $luminance-100,
  'luminance-200': $luminance-200,
  'luminance-300': $luminance-300,
  'luminance-400': $luminance-400,
  'luminance-500': $luminance-500,
  'luminance-600': $luminance-600,
  'luminance-700': $luminance-700,
  'pine-100': $pine-100,
  'pine-200': $pine-200,
  'pine-300': $pine-300,
  'pine-400': $pine-400,
  'pine-500': $pine-500,
  'pine-600': $pine-600,
  'pine-700': $pine-700,
  'rogue_wave-100': $rogue_wave-100,
  'rogue_wave-200': $rogue_wave-200,
  'rogue_wave-300': $rogue_wave-300,
  'rogue_wave-400': $rogue_wave-400,
  'rogue_wave-500': $rogue_wave-500,
  'rogue_wave-600': $rogue_wave-600,
  'rogue_wave-700': $rogue_wave-700,
  'stratosphere-100': $stratosphere-100,
  'stratosphere-200': $stratosphere-200,
  'stratosphere-300': $stratosphere-300,
  'stratosphere-400': $stratosphere-400,
  'stratosphere-500': $stratosphere-500,
  'stratosphere-600': $stratosphere-600,
  'stratosphere-700': $stratosphere-700,
);

// Map for minimum heights
$min-heights: (
  '100': 100px,
  '200': 200px,
  '300': 300px,
  '400': 400px,
  '500': 500px,
  '600': 600px,
  '700': 700px,
  '800': 800px,
);

// Map for border sides
$border-sides: ('left', 'top', 'right', 'bottom');

$body-color: $neutral-700;
$body-color-hsl: $neutral-700-hsl;
$body-bg: $page-bg-default;
$body-bg-hsl: $neutral-100-hsl;
$primary: $osuorange;
$secondary: $bucktoothwhite;
$danger: $lava-400;
$success: $pine-400;
$warning: $luminance-400;
$info: $stratosphere-400;
$light: $neutral-100;
$dark: $paddletailblack;
$code-color: $osuorange;
$line-height-base: 1.8;

// Link Defaults
$link-color: $body-color;
$link-hover-color: $body-color;
$link-decoration: underline $osuorange;

// Navigation Links
$nav-link-color: $neutral-700;
$nav-link-hover-color: $bucktoothwhite;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$nav-link-font-size: 1rem;

// Navigation Tabs
$nav-tabs-link-active-bg: $bucktoothwhite;
$nav-tabs-link-active-border-color: transparent transparent $osuorange;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-border-radius: 0;
$nav-tabs-border-width: 0.15em;

// Navigation Pills
$nav-pills-border-radius: 0;
$nav-pills-link-active-bg: $bucktoothwhite;
$nav-pills-link-active-color: $body-color;

// Input Updates
$input-bg: $bucktoothwhite;
$input-border-color: $neutral-200;
$input-border-radius: 0px;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $osuorange;
$input-padding-x: 1rem;
$input-padding-x-lg: 1.5rem;
$input-padding-y: 0.5rem;
$input-padding-y-lg: 1rem;

// Pagination settings
$pagination-bg: $bucktoothwhite;
$pagination-color: $osuorange;
$pagination-border-color: $osuorange;
$pagination-border-width: 1px;
$pagination-border-radius: 5px;
$pagination-active-bg: $osuorange;
$pagination-active-border-color: $osuorange;
$pagination-active-color: $bucktoothwhite;
$pagination-focus-bg: $osuorange;
$pagination-focus-box-shadow: none;
$pagination-focus-color: $bucktoothwhite;
$pagination-hover-bg: $osuorange;
$pagination-hover-border-color: $osuorange;
$pagination-hover-color: $bucktoothwhite;
$pagination-disabled-bg: $neutral-200;
$pagination-disabled-color: $body-color;
$pagination-disabled-border-color: $neutral-300;

// Form updates
$form-check-input-checked-bg-color: $osuorange;

// Form Select updates
$form-select-padding-x: 0.25rem;
$form-select-padding-y: 0.5rem;
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

// Button Changes
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-focus-width: 0;
$btn-active-box-shadow: none;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.375rem;
$btn-padding-x-lg: 1.5rem;
$btn-padding-x-sm: 1.5rem;
$btn-border-radius: 1.5rem;
$btn-border-radius-lg: 1.5rem;
$btn-border-radius-sm: 1.5rem;

// Typography
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1.125rem;
$blockquote-font-size: 1.25rem;
$blockquote-margin-y: 1.5rem;
$figure-caption-color: $body-color;
$font-family-serif: 'Georgia', 'Noto serif', serif;
$font-family-stratum: 'Stratum2Web', serif;
$display-font-weight: 500;

// Tables
$table-bg: $bucktoothwhite;
$table-striped-bg: $table-alt-row;
$table-border-color: $neutral-200;

// Breadcrumbs
$breadcrumb-divider: quote('>');
$breadcrumb-divider-color: $neutral-700;
$breadcrumb-font-size: 1rem;

// Accordions
$accordion-button-bg: $bucktoothwhite;
$accordion-button-active-bg: $paddletailblack;
$accordion-button-active-color: $bucktoothwhite;
$accordion-button-focus-box-shadow: 0 2px 3px rgb(0 0 0 / 25%);

// Enable Negative margin
$enable-negative-margins: true;

// List Groups
$list-group-item-padding-y: 2rem;
$list-group-item-padding-x: 1.5rem;
