@import '../abstracts/osu_variables';

.block-group-content-menu {
  ul:not(.group-mobile-menu) {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  .menu--level-0,
  .menu--level-1 {
    background-color: $neutral-200;
    display: flex;
    flex-direction: row;

    li {
      a,
      span {
        --bs-nav-link-padding-x: 1rem;
        --bs-nav-link-padding-y: 1rem;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover {
        a,
        span {
          background-color: $bucktoothwhite-hsl;
          color: $paddletailblack-hsl;
          cursor: pointer;
        }
      }
    }

    ul {
      flex-direction: column;
      float: none;
      min-width: 6.5rem;
      padding-left: 0;
      position: absolute;
      transform: scaleY(0);
      width: 12em;
      z-index: 499;

      li {
        background-color: $bucktoothwhite-hsl;
        position: relative;
      }

      li ul {
        left: 0;
        position: absolute;
        top: 0;
        width: 12em;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover {
        > ul {
          background-color: $bucktoothwhite-hsl;
          transform: scaleY(1);
          transform-origin: top;
          transition: transform 0.2s ease-in-out;
        }
      }
    }
  }

  // sub menu downward chevron
  .group-sub-menu > a::after,
  .group-sub-menu > span::after {
    color: #423e3c;
    content: ' \f078';
    display: inline-block;
    font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free';
    font-size: 12px;
    font-weight: 900;
    letter-spacing: normal;
  }

  // sub menus level 2 and below greater than chevron >
  .menu--level-2 {
    .group-sub-menu > a::after,
    .group-sub-menu > span::after {
      content: ' \f054';
      float: right;
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover > a,
      .group-menu-hover > span {
        background-color: $osuorange-hsl;
        color: $bucktoothwhite-hsl;

        &::after {
          color: $bucktoothwhite-hsl;
        }
      }
    }
  }

  .group-mobile-menu {
    // override nav-link class
    a.nav-link:hover,
    span.nav-link:hover {
      background-color: $bucktoothwhite-hsl;
      color: $paddletailblack-hsl;
    }

    li a.group-mobile-main-a {
      font-weight: 600;

      // Main menu hamburger symbol
      &::before {
        content: '\f0c9';
        display: inline-block;
        font-family: 'Font Awesome 6 Free', 'Font Awesome 5 Free';
        font-weight: 900;
        letter-spacing: 1rem;
      }
    }

    li {
      background-color: $neutral-200 !important;
      width: 100%;

      ul {
        width: 100% !important;
      }
    }

    $menu-depth: 0;
    @for $i from 1 through 9 {
      .menu--level-#{$i} {
        padding-left: #{$menu-depth}px;
        $menu-depth: $menu-depth + 7.5;
      }
    }

    // sub menu downward chevron
    .group-sub-menu > a::after {
      content: ' \f078';
    }

    .group-menu-clicked {
      > ul {
        display: flex;
        position: relative;
        transform: scaleY(1);
        transform-origin: top;
        transition: transform 0.3s ease-out;
      }

      > a,
      > span {
        background-color: $bucktoothwhite-hsl !important;
        color: $paddletailblack-hsl !important;
      }
    }
  }
}
