footer {
  .region-footer {
    a {
      color: $bucktoothwhite;
      text-decoration-color: $bucktoothwhite;

      &:hover,
      &:focus {
        text-decoration: none;
      }

      &:active {
        background-color: $bucktoothwhite;
        color: $paddletailblack;
      }
    }
  }
}
