@import "../abstracts/osu_variables";

.block-system-branding-block a {
  @include font-size(1.5rem);

  &.site-name__parent-site,
  &.site-name__site-link--with-group {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration-color: $osuorange-hsl !important;
      text-decoration-line: underline !important;
      text-decoration-thickness: 13% !important;
    }
  }

  img {
    height: 60px; //if the height doesn't start at 60px any companion logo will make the search button wrap on smaller mobile devices that are less than 360. it's not a lot of traffic, but enough.

    @media (min-width: 360px) {
      height: 80px;
    }
  }
}

.header-search-block-form > div {
  height: 100%;

  &.form-actions {
    display: flex;
    height: 100%;
    padding: 0.5em;
    position: absolute;
    right: 0;
  }
}
