@import "../abstracts/osu_variables";
.block-system-branding-block a {
  @include font-size(1.5rem);

  &.site-name__site-link--with-group {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      text-decoration-line: underline !important;
      text-decoration-color: $osuorange-hsl !important;
      text-decoration-thickness: 13% !important;
    }
  }

  img {
    height: 80px;
  }
}

.header-search-block-form > div {
  height: 100%;

  &.form-actions {
    display: flex;
    height: 100%;
    padding: 0.5em;
    position: absolute;
    right: 0;
  }
}
