{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
<form class="tw-flex tw-h-16 tw-items-center tw-justify-between tw-pr-8 tw-pl-4 tw-border-neutral-200 tw-border-b">
  {{ children }}
</form>
