@import "../node_modules/bootstrap/scss/functions";
// Import of User Variables.
@import "scss/osu_variables";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebThin.woff") format("woff"),
  url("../fonts/Stratum2WebThin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebLight.woff") format("woff"),
  url("../fonts/Stratum2WebLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebRegular.woff") format("woff"),
  url("../fonts/Stratum2WebRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebMedium.woff") format("woff"),
  url("../fonts/Stratum2WebMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebBold.woff") format("woff"),
  url("../fonts/Stratum2WebBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src: url("../fonts/Stratum2WebBlack.woff") format("woff"),
  url("../fonts/Stratum2WebBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

$utilities: map-merge-multiple(
    $utilities,
    (
      "color": map-merge(
          map-get($utilities, "color"),
          (
            values: map-merge(
                map-get(map-get($utilities, "color"), "values"),
                $osu-colors-text
            )
          )
      ),
      "osu-text-colors": (
        property: color,
        class: osu-text,
        values: $osu-colors-text
      )
    ),
    (
      "background-color": (
        property: background-color,
        class: bg,
        values: map-merge-multiple(
            $osu-colors-all,
            ("transparent": transparent)
        )
      ),
      "osu-background-color": (
        property: background-color,
        class: osu-bg,
        values: map-merge-multiple(
            $osu-bg-colors,
            ("menu": $neutral-200),
            ("transparent": transparent)
        ),
      )
    ),
    (
      "border-color": (
        property: border-color,
        class: border,
        values: map-merge(
            $theme-colors,
            $osu-colors-all
        )
      )
    ),
    (
      "font-family": (
        property: font-family,
        class: font,
        values: map-merge(
            map-get(map-get($utilities, "font-family"), "values"),
            ("stratum2web": ('Stratum2Web', serif))
        )
      )
    )
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/osu_mixins";
@import "scss/osu_utilities";

/** Bootstrap v4 shim class for layout builder. */
.no-gutters {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/** Theme Defaults **/
h1 {
  color: rgba($osuorange, 1);
  font-family: 'Stratum2Web', serif;
  font-size: 48px;
  font-weight: 500;
  text-transform: uppercase;
}

h2 {
  font-family: 'Stratum2Web', serif;
  font-size: 36px;
  font-weight: 400;
}

h3 {
  color: rgba($osuorange, 1);
  font-family: 'Open Sans', sans-serif;
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
}


a {
  color: $body-color;
  text-decoration-color: rgba($osuorange, 1);
  text-decoration-thickness: 13%;

  &:hover {
    color: $body-color;
    text-decoration-color: rgba($osuorange, 1);
  }

  &.nav-link:hover,
  &.nav-link:focus {
    background: rgba(0, 0, 0, 0.7);
  }

  &.button {
    @extend .btn;
    @extend .rounded-pill;
    @extend .px-5;
    @extend .my-3;
    @extend .osu-btn-primary;
  }
}

.osu-bg-page-alt-2 a:not(.layout-builder__link--add) {
  color: $bucktoothwhite;
  text-decoration-color: $bucktoothwhite;
}

.container-fluid .block-page-title-block {
  padding-inline: 1.5rem;
}

.block-system-main-block ul:not(.list-unstyled):not(.contextual-links):not(.vertical-tabs__menu):not(.pager__items) > li {

  &::marker {
    color: rgba($osuorange, 1);
    content: '\f054  ';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    letter-spacing: normal;
  }
}

em.placeholder {
  background-color: unset;
  cursor: unset;
  display: unset;
  min-height: unset;
  opacity: unset;
  vertical-align: unset;
}

blockquote {
  border: 5px solid $neutral-200;
  padding: 2.5em 3.75em;
  font-family: 'Georgia', 'DejaVu Serif', serif;
}

.node-preview-container {
  background-color: $bucktoothwhite;
}

@import "scss/osu_header";
@import "scss/superfish";
@import "scss/osu_forms";
@import "scss/pager";
@import "scss/osu_buttons";
@import "scss/osu_messages";
@import "scss/osu_tables";
