$utilities: map-merge-multiple(
    $utilities,
    (
      'osu-text-colors': (
        property: color,
        class: osu-text,
        values: $osu-colors-text
      )
    ),
    (
      'background-color': (
        property: background-color,
        class: bg,
        local-vars: (
          "bg-opacity": 1
        ),
        values:
        map-merge-multiple(
            map-get(map-get($utilities, 'background-color'), 'values'),
            $osu-colors-all,
            ('transparent': transparent)
        )
      )
    ),
    (
      'osu-background-color': (
        property: background-color,
        class: osu-bg,
        values:
        map-merge-multiple(
            $osu-bg-colors,
            ('menu': $neutral-200),
            ('transparent': transparent)
        )
      )
    ),
    (
      'osu-shadows': (
        property: box-shadow,
        class: osu-shadow,
        values: (
          null: 0 2px 3px hsl(0 0% 0% / 0.25),
          1: 0 2px 3px hsl(0 0% 0% / 0.55)
        ),
      ),
    ),
    (
      'border-color': (
        property: border-color,
        class: border,
        values: map-merge($theme-colors, $osu-colors-all),
      ),
    ),
    (
      'osu-border-width': (
        property: border-width,
        class: osu-border-width,
        values: (
          map-merge-multiple(
              ( 0: 0,),
              map-get(map-get($utilities, 'border-width'), 'values')
          )
        )
      )
    ),
    (
      'osu-border-width-top': (
        property: border-top-width,
        class: osu-border-width-top,
        values: (
          map-merge-multiple(
              (0: 0),
              map-get(map-get($utilities, 'border-width'), 'values')
          )
        )
      )
    ),
    (
      'osu-border-width-right': (
        property: border-right-width,
        class: osu-border-width-right,
        values: (
          map-merge-multiple(
              (0: 0),
              map-get(map-get($utilities, 'border-width'), 'values')
          )
        )
      )
    ),
    (
      'osu-border-width-bottom': (
        property: border-bottom-width,
        class: osu-border-width-bottom,
        values: (
          map-merge-multiple(
              (0: 0),
              map-get(map-get($utilities, 'border-width'), 'values')
          )
        )
      )
    ),
    (
      'osu-border-width-left': (
        property: border-left-width,
        class: osu-border-width-left,
        values: (
          map-merge-multiple(
              (0: 0),
              map-get(map-get($utilities, 'border-width'), 'values')
          )
        )
      )
    ),
    (
      'font-family': (
        property: font-family,
        class: font,
        values:
        map-merge(
            map-get(map-get($utilities, 'font-family'), 'values'),
            ('stratum2web': ('Stratum2Web', serif))
        )
      )
    ),
    (
      'max-width': map-merge(
          map-get($utilities, 'max-width'),
          (
            responsive: true,
            values: map-merge(
                map-get(map-get($utilities, 'max-width'), 'values'),
                map-remove(map-get(map-get($utilities, 'width'), 'values'), auto)
            )
          )
      )
    ),
    (
      'min-height': (
        property: min-height,
        class: osu-min-h,
        responsive: true,
        values: $min-heights
      )
    ),
    (
      'osu-display': (
        property: display,
        class: osu-d,
        values: table-caption
      )
    ),
    (
      'osu-caption-side': (
        property: caption-side,
        class: osu-caption,
        values: (
        'top': 'top',
        'bottom': 'bottom'
        )
      )
    )
);
