@import "../node_modules/bootstrap/scss/functions";

// Import of User Variables.
@import "scss/osu_variables";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebThin.woff") format("woff"),
    url("../fonts/Stratum2WebThin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebLight.woff") format("woff"),
    url("../fonts/Stratum2WebLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebRegular.woff") format("woff"),
    url("../fonts/Stratum2WebRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebMedium.woff") format("woff"),
    url("../fonts/Stratum2WebMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebBold.woff") format("woff"),
    url("../fonts/Stratum2WebBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Stratum2Web";
  src:
    url("../fonts/Stratum2WebBlack.woff") format("woff"),
    url("../fonts/Stratum2WebBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

$utilities: map-merge-multiple(
  $utilities,
  (
    "color":
    map-merge(
      map-get($utilities, "color"),
      (
        values:
        map-merge(
          map-get(map-get($utilities, "color"), "values"),
          $osu-colors-text
        )
      )
    ),
    "osu-text-colors": (
      property: color,
      class: osu-text,
      values: $osu-colors-text
    )
  ),
  (
    "background-color": (
      property: background-color,
      class: bg,
      values:
      map-merge-multiple(
        $osu-colors-all,
        (
          "transparent": transparent
        )
      )
    ),
    "osu-background-color": (
      property: background-color,
      class: osu-bg,
      values:
      map-merge-multiple(
        $osu-bg-colors,
        (
          "menu": $neutral-200
        ),
        (
          "transparent": transparent
        )
      )
    )
  ),
  (
    "osu-shadows": (
      property: box-shadow,
      class: osu-shadow,
      values: (
        null: 0 2px 3px rgb(0 0 0 / 25%)
      )
    )
  ),
  (
    "border-color": (
      property: border-color,
      class: border,
      values: map-merge($theme-colors, $osu-colors-all)
    )
  ),
  (
    "font-family": (
      property: font-family,
      class: font,
      values:
      map-merge(
        map-get(map-get($utilities, "font-family"), "values"),
        (
          "stratum2web": (
            "Stratum2Web",
            serif
          )
        )
      )
    )
  )
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "scss/osu_mixins";
@import "scss/osu_utilities";

/** Bootstrap v4 shim class for layout builder. */
.no-gutters {
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
}

/** Theme Defaults **/
h1 {
  text-transform: uppercase;
  color: rgba($osuorange, 1);
  font-family: "Stratum2Web", serif;
  font-size: 48px;
  font-weight: 500;
}

h2 {
  font-family: "Stratum2Web", serif;
  font-size: 36px;
  font-weight: 400;
}

h3 {
  color: rgba($osuorange, 1);
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 500;
}

h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
}

h6 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

a {
  color: $body-color;
  text-decoration-color: rgba($osuorange, 1);
  text-decoration-thickness: 13%;

  &:hover {
    color: $body-color;
    text-decoration-color: rgba($osuorange, 1);
  }

  &.nav-link:hover,
  &.nav-link:focus {
    background: rgb(0 0 0 / 70%);
  }

  &.button {
    @extend .btn;
    @extend .rounded-pill;
    @extend .px-5;
    @extend .my-3;
    @extend .osu-btn-primary;
  }
}

.osu-bg-page-alt-2 {
  color: $bucktoothwhite;

  a:not(.layout-builder__link--add) {
    color: $bucktoothwhite;
    text-decoration-color: $bucktoothwhite;
  }
}

.container-fluid .block-page-title-block {
  padding-inline: 1.5rem;
}

.block-system-main-block ul:not(.nav):not(.navbar):not(.list-unstyled):not(.contextual-links):not(.vertical-tabs__menu):not(.pager__items) > li {
  &::marker {
    display: inline-block;
    content: "\f054\2000";
    letter-spacing: normal;
    color: rgba($body-color, 1);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
  }
}

em.placeholder {
  display: unset;
  min-height: unset;
  cursor: unset;
  vertical-align: unset;
  opacity: unset;
  background-color: unset;
}

blockquote {
  padding: 2.5em 3.75em;
  border: 5px solid $neutral-200;
  font-family: Georgia, "DejaVu Serif", serif;
  font-size: 1.125rem;
}

.node-preview-container {
  background-color: $bucktoothwhite;
}

@import "scss/osu_header";
@import "scss/osu_footer";
@import "scss/superfish";
@import "scss/osu_forms";
@import "scss/pager";
@import "scss/osu_buttons";
@import "scss/osu_media";
@import "scss/osu_messages";
@import "scss/osu_tables";
@import "scss/osu_layout_builder";
@import "scss/osu_layout_builder_menus";
@import "scss/osu_ckeditor";
@import "scss/osu_tags";
@import "scss/osu_modals";
