/* All OSU colors */
$osuorange: #d73f09;
$bucktoothwhite: #fff;
$paddletailblack: #212529;
$neutral-100: #f7f5f5;
$neutral-200: #e9e5e4;
$neutral-300: #d4cfcd;
$neutral-400: #b7b1af;
$neutral-500: #8f8582;
$neutral-550: #7b746f;
$neutral-600: #696361;
$neutral-700: #423e3c;
$neutral-800: #2e2b2a;
$neutral-900: #1f1d1c;
$lava-100: #ffdedf;
$lava-200: #ee878a;
$lava-300: #e54349;
$lava-400: #c72127;
$lava-500: #a7262b;
$lava-600: #8c0e13;
$lava-700: #590003;
$luminance-100: #fff2d5;
$luminance-200: #fddb8b;
$luminance-300: #ffce57;
$luminance-400: #ffb500;
$luminance-500: #e59900;
$luminance-600: #d3832b;
$luminance-700: #915513;
$pine-100: #edf3e3;
$pine-200: #c4d6a4;
$pine-300: #73a663;
$pine-400: #4a773c;
$pine-500: #3c692e;
$pine-600: #254a1a;
$pine-700: #142e0c;
$rogue_wave-100: #ecf5f6;
$rogue_wave-200: #b8dde1;
$rogue_wave-300: #20a6bd;
$rogue_wave-400: #00859b;
$rogue_wave-500: #007082;
$rogue_wave-600: #0d5257;
$rogue_wave-700: #043033;
$stratosphere-100: #ecf1f4;
$stratosphere-200: #c6dae7;
$stratosphere-300: #2490b5;
$stratosphere-400: #006a8e;
$stratosphere-500: #005875;
$stratosphere-600: #003b5c;
$stratosphere-700: #002235;
$table-alt-row: #f9f9f9;

/* Setting other variable names for common colors */
$page-bg-default: $neutral-100;
$page-bg-alt-1: $bucktoothwhite;
$page-bg-alt-2: $paddletailblack;

/* Map array for text color classes */
$osu-colors-text: (
  "body": $neutral-700,
  "osuorange": $osuorange,
  "bucktoothwhite": $bucktoothwhite,
  "icon": $neutral-550,
);

/* Map for Background Colors */
$osu-bg-colors: (
  "page-default": $page-bg-default,
  "page-alt-1": $page-bg-alt-1,
  "page-alt-2": $page-bg-alt-2,
);

/* Map for border colors */
$osu-border-colors: (
  "neutral": $neutral-100,
  "white": $bucktoothwhite,
  "dark": $paddletailblack,
  "osu": $osuorange,
  "pine": $pine-400,
  "rogue-wave": $rogue_wave-400,
  "luminance": $luminance-400,
  "stratosphere": $stratosphere-400,
);

/* Map for all colors */
$osu-colors-all: (
  "osuorange": $osuorange,
  "paddletailblack": $paddletailblack,
  "bucktoothwhite": $bucktoothwhite,
  "neutral-100": $neutral-100,
  "neutral-200": $neutral-200,
  "neutral-300": $neutral-300,
  "neutral-400": $neutral-400,
  "neutral-500": $neutral-500,
  "neutral-550": $neutral-550,
  "neutral-600": $neutral-600,
  "neutral-700": $neutral-700,
  "neutral-800": $neutral-800,
  "neutral-900": $neutral-900,
  "lava-100": $lava-100,
  "lava-200": $lava-200,
  "lava-300": $lava-300,
  "lava-400": $lava-400,
  "lava-500": $lava-500,
  "lava-600": $lava-600,
  "lava-700": $lava-700,
  "luminance-100": $luminance-100,
  "luminance-200": $luminance-200,
  "luminance-300": $luminance-300,
  "luminance-400": $luminance-400,
  "luminance-500": $luminance-500,
  "luminance-600": $luminance-600,
  "luminance-700": $luminance-700,
  "pine-100": $pine-100,
  "pine-200": $pine-200,
  "pine-300": $pine-300,
  "pine-400": $pine-400,
  "pine-500": $pine-500,
  "pine-600": $pine-600,
  "pine-700": $pine-700,
  "rogue_wave-100": $rogue_wave-100,
  "rogue_wave-200": $rogue_wave-200,
  "rogue_wave-300": $rogue_wave-300,
  "rogue_wave-400": $rogue_wave-400,
  "rogue_wave-500": $rogue_wave-500,
  "rogue_wave-600": $rogue_wave-600,
  "rogue_wave-700": $rogue_wave-700,
  "stratosphere-100": $stratosphere-100,
  "stratosphere-200": $stratosphere-200,
  "stratosphere-300": $stratosphere-300,
  "stratosphere-400": $stratosphere-400,
  "stratosphere-500": $stratosphere-500,
  "stratosphere-600": $stratosphere-600,
  "stratosphere-700": $stratosphere-700,
);

/* Map for minimum heights */
$min-heights: (
  '100': 100px,
  '200': 200px,
  '300': 300px,
  '400': 400px,
  '500': 500px,
  '600': 600px,
  '700': 700px,
  '800': 800px,
);

/* Map for border sides */
$border-sides: (
  "left",
  "top",
  "right",
  "bottom"
);


$body-color: $neutral-700;
$body-bg: $page-bg-default;
$primary: $osuorange;
$secondary: $bucktoothwhite;
$danger: $lava-400;
$success: $pine-400;
$warning: $luminance-400;
$info: $stratosphere-400;
$light: $neutral-100;
$dark: $paddletailblack;
$code-color: $osuorange;
$line-height-base: 1.8;

/* Link Defaults */
$link-color: $body-color;
$link-hover-color: $body-color;
$link-decoration: underline $osuorange;
$nav-link-color: $neutral-700;
$nav-link-hover-color: $bucktoothwhite;
$nav-link-font-size: 1rem;

/* Navigation Tabs */
$nav-tabs-link-active-bg: $bucktoothwhite;
$nav-tabs-link-active-border-color: transparent transparent $osuorange;
$nav-tabs-link-active-color: $body-color;
$nav-tabs-border-radius: 0;
$nav-tabs-border-width: .15em;

/* Navigation Pills */
$nav-pills-border-radius: 0;
$nav-pills-link-active-bg: $bucktoothwhite;
$nav-pills-link-active-color: $body-color;

/* Input Updates */
$input-bg: $bucktoothwhite;
$input-border-color: $neutral-200;
$input-border-radius: 0px;
$input-box-shadow: none;
$input-focus-box-shadow: none;
$input-btn-focus-box-shadow: none;
$input-focus-border-color: $osuorange;
$input-padding-x: 1rem;
$input-padding-x-lg: 1.5rem;
$input-padding-y: .5rem;
$input-padding-y-lg: 1rem;

/* Pagination settings */
$pagination-bg: $bucktoothwhite;
$pagination-color: $osuorange;
$pagination-border-color: $osuorange;
$pagination-border-width: 1px;
$pagination-border-radius: 5px;
$pagination-active-bg: $osuorange;
$pagination-active-border-color: $osuorange;
$pagination-active-color: $bucktoothwhite;
$pagination-focus-bg: $osuorange;
$pagination-focus-box-shadow: none;
$pagination-focus-color: $bucktoothwhite;
$pagination-hover-bg: $osuorange;
$pagination-hover-border-color: $osuorange;
$pagination-hover-color: $bucktoothwhite;
$pagination-disabled-bg: $neutral-200;
$pagination-disabled-color: $body-color;
$pagination-disabled-border-color: $neutral-300;

/* Form updates */
$form-check-input-checked-bg-color: $osuorange;
/* Form Select updates */
$form-select-padding-x: .25rem;
$form-select-padding-y: .5rem;
$form-select-box-shadow: none;
$form-select-focus-box-shadow: none;

/* Button Changes */
$btn-box-shadow: none;
$btn-focus-box-shadow: none;
$btn-focus-width: 0;
$btn-active-box-shadow: none;
$btn-padding-x: 3rem;
$btn-padding-x-lg: 3rem;
$btn-padding-x-sm: 3rem;
$btn-border-radius: 50rem;
$btn-border-radius-lg: 50rem;
$btn-border-radius-sm: 50rem;

/* Typography */
$font-family-base: 'Open Sans', sans-serif;
$font-size-base: 1.125rem;
$blockquote-font-size: 1.25rem;

/* Tables */
$table-bg: $bucktoothwhite;
$table-striped-bg: $table-alt-row;
$table-border-color: $neutral-200;

/* Breadcrumbs */
$breadcrumb-divider: quote("|");
$breadcrumb-divider-color: $neutral-700;
$breadcrumb-font-size: 1rem;
