.block-group-content-menu {
  .menu--level-0,
  .menu--level-1 {
    display: flex;
    flex-direction: row;
    background-color: $neutral-200;

    li a {
      padding: 1rem;
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover a {
        background-color: $bucktoothwhite;
        color: $paddletailblack
      }
    }

    ul {
      flex-direction: column;
      padding-left: 0px;
      transform: scaleY(0);
      float: none;
      min-width: 6.5rem;
      z-index: 499;
      position: absolute;

      li {
        display: unset;
        background-color: $bucktoothwhite;
      }

      li ul {
        top: 0;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover {
        > ul {
          background-color: $bucktoothwhite;
          transition: transform 0.3s ease-out;
          transform: scaleY(1);
          transform-origin: top;
        }
      }
    }
  }

  // sub menu downward chevron
  .group-sub-menu >a::after {
    color: #423e3c;
    content: " \f078";
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    font-weight: 900;
    letter-spacing: normal;
  }

  // sub menus level 2 and below greater than chevron >
  .menu--level-2 {
    .group-sub-menu >a::after {
      content: " \f054";
    }

    @media (hover: hover) and (pointer: fine) {
      .group-menu-hover >a {
        background-color: $osuorange;
        color: $bucktoothwhite;

        &::after {
          color: $bucktoothwhite
        }
      }
    }
  }

  .group-mobile-menu {
    // override nav-link class
    a.nav-link:hover {
      background-color: $bucktoothwhite;
      color: $paddletailblack;
    }

    li a.group-mobile-main-a {
      font-weight: 600;

      // Main menu hamburger symbol
      &::before {
        content: "\f0c9";
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        letter-spacing: 1rem;
      }
    }

    li {
      width: 100%;
      background-color: $neutral-200 !important;
    }

    $menu-depth: 0;
    @for $i from 1 through 9 {
      .menu--level-#{$i} {
        padding-left: #{$menu-depth}px;
        $menu-depth: $menu-depth +7.5;
      }
    }

    // sub menu downward chevron
    .group-sub-menu >a::after {
      content: " \f078";
    }

    .group-menu-clicked {
      > ul {
        display: flex;
        transition: transform 0.3s ease-out;
        transform: scaleY(1);
        transform-origin: top;
        position: relative;
      }

      > a {
        background-color: $bucktoothwhite !important;
        color: $paddletailblack !important;
      }
    }
  }
}
