.media--view-mode-media-card,
.media--view-mode-media-card-caption {
  border-radius: 10px;
  max-width: max-content;
}

.media--view-mode-media-card-caption {
  .field--name-name {
    color: $body-color !important;
    padding-top: 1.5rem;

    div.field__item::before {
      content: "\2014";
      padding-right: 1ch;
    }
  }
}
