$min-heights: (
  '100': 100px,
  '200': 200px,
  '300': 300px,
  '400': 400px,
  '500': 500px,
  '600': 600px,
  '700': 700px,
  '800': 800px,
);

@each $height-name, $height-val in $min-heights {
  .osu-min-h-#{$height-name} {
    min-height: $height-val;
  }
}

$border-color-sides: (
  "left",
  "top",
  "right",
  "bottom"
);

@each $border-color-name, $border-color-value in $osu-border-colors {
  .osu-border-#{$border-color-name} {
    border-color: #{$border-color-value} !important;
  }
  @each $border-color-side in $border-color-sides {
    .osu-border-#{$border-color-name}-#{$border-color-side} {
      border-#{$border-color-side}-color: #{$border-color-value} !important;
    }
  }
}

.osu-v-align-bottom {
  @extend .d-flex;
  @extend .align-items-end;
}

.osu-v-align-middle {
  @extend .d-flex;
  @extend .align-items-center;
}
