/* Create osu-min-h-xx classes for min-height*/
@each $height-name, $height-val in $min-heights {
  .osu-min-h-#{$height-name} {
    min-height: $height-val;
  }
}

/* For Bootstrap Layout Builder we need a border-side-color for each color and side we wish to use*/
@each $border-color-name, $border-color-value in $osu-border-colors {
  .osu-border-#{$border-color-name} {
    border-color: #{$border-color-value} !important;
  }
  @each $border-color-side in $border-color-sides {
    .osu-border-#{$border-color-name}-#{$border-color-side} {
      border-#{$border-color-side}-color: #{$border-color-value} !important;
    }
  }
}

.osu-opacity-90 {
  opacity: .9;
}

/* Display flex*/
.osu-d-flex {
  @extend .d-flex;
}

/* Wrapper classes for flex alignment */
.osu-align-items-start {
  @extend .align-items-start;
}

.osu-align-items-center {
  @extend .align-items-center;
}

.osu-align-items-end {
  @extend .align-items-end;
}

.osu-align-self-start {
  @extend .align-self-start;
}

.osu-align-self-center {
  @extend .align-self-center;
}

.osu-align-self-end {
  @extend .align-self-end;
}

.osu-justify-content-start {
  @extend .justify-content-start;
}

.osu-justify-content-center {
  @extend .justify-content-center;
}

.osu-justify-content-end {
  @extend .justify-content-end;
}
/* Enhancements for Navigation Blocks */
.osu-nav-column ul.nav-pills {
  @extend .flex-column;
}

.osu-nav-fill ul.nav-pills {
  @extend .nav-fill;
}

.osu-nav-justified ul.nav-pills {
  @extend .nav-justified;
}
/* Shh, tis a secret */
.osu-hover-pop {
  transition: all 250ms ease;

  &:hover {
    box-shadow: 0 0 9px rgb(0 0 0 / 25%) !important;
  }
}

.osu-text-decoration {
  text-decoration-color: $osuorange !important;
}

.osu-text-decoration-bucktoothwhite {
  text-decoration-color: $bucktoothwhite !important;
}
