/* Layout Builder updates */

/* Remove background on block sections in Layout Builder */
.layout-builder-block {
  background-color: transparent;
}

#drupal-off-canvas {
  .messages.messages.messages--error p {
    color: $paddletailblack;
  }

  div.form-item {
    width: initial !important;
  }
}

#drupal-modal .form-item {
  width: initial !important;
}
