footer {
  .region-footer {
    background: $neutral-800 url('../assets/footer-trees.png') repeat-x scroll left bottom;
  }

  a {
    color: $bucktoothwhite;
    text-decoration-color: $bucktoothwhite;

    &:hover {
      color: $bucktoothwhite;
      text-decoration-color: $bucktoothwhite;
    }
  }
}
