.footer a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.footer {
  background-image: url('../assets/footer-trees.png');
  background-color: #2e2b2a;
  color: white;
  padding: 1em;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
