.field--name-field-tags {
  &.field--label-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
  }

  &.field__items,
  .field__items {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    .field__item {
      a {
        @extend .btn;
        @extend .btn-primary;
      }
    }
  }
}
