.breadcrumb {
  margin-top: 10px;

  &.breadcrumb-condensed {
    flex-direction: row;
  }

  .breadcrumb-item::before {
    font-weight: 900;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.madrone-breadcrumb .block-system-breadcrumb-block {
  --bs-gutter-x: 2rem;
}
