.footer {
  background: #2e2b2a url('../assets/footer-trees.png') repeat-x scroll left
    bottom;
  color: white;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
}

.footer a {
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

.madrone-copyright {
  //bottom: 0;
  align-self: center;
}

@media (min-width: 750px) {
}
