.media--view-mode-media-card,
.media--view-mode-media-card-caption {
  border-radius: 10px;
  max-width: max-content;
}

article.media {
  &.align-right {
    margin-inline-start: 1rem !important;
  }

  &.align-left {
    margin-inline-end: 1rem !important;
  }
}

figure {
  article[class*="media--view-mode-media-card"]  {
    padding: 3rem !important;
    box-shadow: 0 2px 3px rgb(0 0 0 / 25%) !important;
    background-color: #f7f5f5 !important;

  }

  & > figcaption.figure-caption::before {
    content: "\2014";
    padding-right: 1ch;
  }
}

.media--view-mode-media-card-caption {
  .field--name-name {
    color: $body-color !important;
    padding-top: 1.5rem;

    div.field__item::before {
      content: "\2014";
      padding-right: 1ch;
    }
  }
}
