/* Layout Builder updates */

/* Remove background on block sections in Layout Builder */
.layout-builder-block {
  background-color: transparent;
}

#drupal-off-canvas div.form-item {
  width: initial !important;
}

#drupal-modal .form-item {
  width: initial !important;
}

.input-icon.fade-zoom-in {
  background-image: url(themes/custom/madrone/assets/fade-zoom-in.svg);
}

