.toc-js {
  &.sticky.is-sticked {
    position: initial;
    @media screen and (min-width: 992px) {
      position: fixed;
    }
  }

  ul {
    padding-left: 0;

    li {
      padding-block: 0.4rem;
      padding-inline: 1rem;

      &::marker {
        content: '' !important;
      }

      &.toc-active {
        background-color: $osuorange;

        a {
          color: $bucktoothwhite;
        }
      }
    }
  }
}

.toc-h1 + .toc-h2 {
  margin-left: 0.65rem;
}

.toc-h2 + .toc-h3 {
  margin-left: 1rem;
}

.toc-h3 + .toc-h4 {
  margin-left: 1.25rem;
}

.toc-h4 + .toc-h5 {
  margin-left: 1.6rem;
}

.toc-h5 + .toc-h6 {
  margin-left: 1.9rem;
}
