.dropbutton-wrapper {
  .dropbutton-widget {
    background-color: $osuorange;
    color: $bucktoothwhite;
    padding: .25em .5em;
    padding-right: 2.5em !important;

    &:hover,
    &:focus-within,
    &:focus {
      background-color: $bucktoothwhite;
      color: $paddletailblack;

      .dropbutton {
        .dropbutton-action {
          a {
            color: $paddletailblack;
          }
        }
      }
    }

    .dropbutton {
      .dropbutton-toggle {
        height: 2em;
        width: 2em;

        & > button {
          &:hover,
          &:focus-within {
            box-shadow: inset 0 0 0 2px rgba($osuorange, 1);
          }
        }
      }

      .dropbutton-action {
        * {
          color: $bucktoothwhite;
          white-space: nowrap;
        }

        a {
          text-decoration-color: rgba($osuorange, 1);
          text-decoration-thickness: 13%;

          &:hover,
          &:focus,
          &:focus-within {
            text-decoration: none;
          }

          &:active {
            background-color: $paddletailblack;
            color: $bucktoothwhite;
          }
        }
      }
    }
  }
}
