.madrone-primary-menu > .block-superfish {
  .sf-accordion-toggle > a {
    @extend .btn;
    @extend .btn-osu-gray;
    @extend .px-5;
    @extend .my-3;
    @extend .rounded-pill;
    @extend .w-100;
  }

  ul {
    background-color: $neutral-100;

    &.sf-menu {
      line-height: 1.75rem;

      &.sf-horizontal {
        @extend .nav;
        @extend .gap-1;

        li {
          ul {
            border-radius: 5px;

            li {
              padding: .5rem;
            }
          }
        }
      }

      &.sf-accordion {
        float: unset;
        display: flex;
        flex-direction: column;

        $sf-depth: 0;
        @for $i from 1 through 9 {
          li.sf-depth-#{$i} {
            left: #{$sf-depth}rem;
            $sf-depth: $sf-depth +.25;
          }
        }

      }

      li {
        float: none;
        @extend .nav-item;

        &.sf-depth-1.menuparent > a::after {
          color: $paddletailblack;
          content: '\2000\f078';
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          letter-spacing: normal;
        }

        ul li.menuparent > a::after {
          color: $paddletailblack;
          content: '\2000\f054';
          display: inline-block;
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          letter-spacing: normal;
        }

        a {
          @extend .nav-link;

          &:hover,
          &:active,
          &:focus {
            &::after {
              color: $bucktoothwhite !important;
            }
          }

          &.is-active {
            @extend .fw-bold;
            border-bottom: 2px solid $osuorange;
          }

          span.sf-sub-indicator {
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}
