.madrone-primary-menu > .block-superfish {
  .sf-accordion-toggle > a {
    @extend .btn;
    @extend .btn-osu-gray;
    @extend .px-5;
    @extend .my-3;
    @extend .rounded-pill;
    @extend .w-100;
  }

  ul {
    &.sf-menu {
      line-height: 1.75rem;

      &.sf-horizontal {
        @extend .nav;

        li {
          ul {
            background-color: $bucktoothwhite;

            li {
              padding: .5rem;
            }
          }
        }
      }

      &.sf-accordion {
        float: unset;
        display: flex;
        flex-direction: column;

        $sf-depth: 0;
        @for $i from 1 through 9 {
          li.sf-depth-#{$i} {
            left: #{$sf-depth}rem;
            $sf-depth: $sf-depth +.25;
          }
        }

      }

      li {
        float: none;
        @extend .nav-item;

        // chevron top level
        &.sf-depth-1.menuparent {
          &.sfHover > a {
            background-color: $bucktoothwhite;
          }
          &> a::after {
            color: $neutral-700;
            content: '\2000\f078';
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            letter-spacing: normal;
            font-size: 12px;
          }
        }

        // chevron lower levels
        ul li:not(.sf-depth-1) {
          &:hover,
          &:active,
          &:focus {
            background-color: $osuorange;
            > a {
              color: $bucktoothwhite;
            }
            a.menuparent::after {
              color: $bucktoothwhite;
            }
          }
          a.menuparent::after {
            color: $neutral-700;
            content: '\2000\f054';
            display: inline-block;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            letter-spacing: normal;
            font-size: 12px;
            float: right;
          }
        }

        a:not(.sf-depth-1) {
          @extend .nav-link;

          &:hover,
          &:active,
          &:focus {
            background-color: transparent;
          }
        }

        a {
          @extend .nav-link;

          &:hover,
          &:active,
          &:focus {
            background-color: $bucktoothwhite;
            color: $neutral-700;
          }

          span.sf-sub-indicator {
            display: none;
            width: 0;
            height: 0;
          }
        }
      }
    }
  }
}
